@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans&display=swap');

* {
    margin: 0;
}

:root {
    --black: #181818;
    --white: #ffffff;
    --gray: #eeeeee;
    --gray-light: #fbfbfb;
    --font-body: 'PT Sans', sans-serif;
    --font-title: 'Libre Baskerville', serif;
}

body {
    font-family: var(--font-body);
    font-size: 16px;
    background-color: var(--gray-light);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

.container {
    width: 90%;
    margin: auto;
}

/* header */
.header-top {
    /* background-color: orange; */
    text-align: center;
}

.header-top nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header section {
    padding: 50px 0;
}


.header-top nav .bi-list {
    font-size: 30px;
    color: var(--black);
}

.header-top nav ul {
    display: none;
}

.header-top section h1 {
    background-color: white;
    padding: 1.5rem;
}

header section img {
    width: 90%;
    margin: 3.9rem 0;
}

/* main */

main section{
    margin-bottom: 55px;
}

.img-main {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.btn-light {
    border: 1px solid var(--black);
    text-align: center;
    border-radius: 3px;
    color: var(--black);
    padding: 12px 28px;
    display: block;
    text-decoration: none;
    margin: 2.5rem auto;
}

.newsletter {
    background-color: var(--gray);
    margin-top: 80px;
}

.newsletter img {
    width: 100%;
}

.newsletter h2 {
    font-size: 1.5rem;
    margin: 50px 0;
    width: 80%;
}

.btn-dark {
    border: 1px solid var(--black);
    text-align: center;
    border-radius: 3px;
    color: var(--white);
    padding: 12px 28px;
    display: block;
    text-decoration: none;
    margin: 2.5rem auto;
    background-color: var(--black);
}

/* footer */

.container-footer ul {
    text-align: center;
    list-style: none;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(3, 1fr);
}

.container-footer a {
    text-align: center;
    color: var(--black);
    border: 1px solid var(--gray);
    padding: 0.8rem;
}